<%- include("partials/header")%>
<div class="ui container main text">
	<div class="ui huge header ">
			Blog WebApp
	</div>	
			<div class="ui four column grid">
				<% blogs.forEach(function(blog){ %>
					<div class="column">
						<div class="ui fluid card">
							<div class="content">
								<a class="header" href="/blog/<%= blog._id %>"><%= blog.title %></a>
								<span><%= blog.date.toDateString()%></span>
								<div class="description">
								<p>
      									<%= blog.body.substring(0,10) %>
									<br/>
									<a href="/blog/<%= blog._id %>">Read More ...</a>
								</p>
    							</div>
							</div>
						</div>
					</div>
					
				<% }) %>
			</div>
			
	
<%- include("partials/footer")%>
